CompileFlags:
  Compiler: x86_64-elf-g++

  Add: [
    "-std=c++23",
    "-target", "x86_64-elf",
    "-ffreestanding",
    "-nostdlib",
    "-nostdinc++",
    "-mno-red-zone",
    "-mno-mmx",
    "-mno-sse",
    "-mno-sse2",

    "-Wall",
    "-Wextra",
    "-Wpedantic"
  ]

  CompilationDatabase: .

Diagnostics:
  Suppress: [
    "reserved_identifier",
    "gnu_include_next"
  ]

Index:
  Background: Build